@font-face {
	font-family: texticons;
	font-weight: normal;
	font-style: normal;
	src: url('https://at.alicdn.com/t/font_702773_g9f89om4v3j.ttf') format('truetype');
}

page {
	min-height: 100%;
	background-color: #EFEFEF;
}

button {
	width: 750upx;
	height: 80upx;
	line-height: 80upx;
	text-align: center;
	font-size: 38upx;
}
